@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    margin: 0;
    font-family: roboto, sans-serif;
    color: white;
    background: black;
}

header {
    background-color: rgba(45, 50, 54, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    width: 97%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    border-radius: 10px;
    margin: 10px 20px;
    
}
header > h1 {
    font-size: min(15vw, 1.6em);
    text-align: center;
    margin: 5%;
  }

h1 > a {
    color: inherit;
    text-decoration: none;
  } 
nav {
    width: 50%;
    max-width: 500px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: white;
    margin: 0 0.2rem;
    padding: 0.01rem;
    display: block;
    transition: transform 0.2s;
  }
  
  nav > ul > li:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
main{
    padding-top: 90px;
}

#intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;

}

#Left-intro {
    width: 40%;
    text-align: center;
    align-items: center;
}
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}
#profile > img {
    width: max(10rem, 18vw);
    border-radius: 20%;
}

#Left-intro > h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #FFA500;
}
#Left-intro > h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}
#Left-intro > #email, #Right-intro > #resume {
    max-width: 250px;
    min-width: 150px;
    height: 40px;
    border: 1px solid white;
    background-color: white;
    margin: 50px auto;
    transition: transform 0.2s;;
}
#Left-intro > #email:hover, #Right-intro > #resume:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

#Left-intro > #email > a, #Right-intro > #resume > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: underline;
}

#social {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
#social > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    list-style: none;
}
#social > ul > li {
    color: white;
    margin: 0 0.2rem;
    padding: 0.01rem;
    display: block;
    transition: transform 0.2s;
}
#social > ul > li:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

#social > ul > li > a > img {
    width: 70px;
    height: 70px;
}

#Right-intro {
    background-color: rgba(45, 50, 54, 0.8);
    width: 30%;
    height: 500px;
    text-align: center;
    align-items: center;
    border: 80px ridge transparent;
    border-radius: 40px;
    /* padding: 20px; */
}

#Right-intro > #intro-text >h1 {
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #FFA500;
}

#Right-intro > #intro-text > p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    /* font-style: italic; */
}

#Education,#skills {
    text-align: center;
    line-height: 0.7;
    margin: 10% auto;
}

#Education > h1,#skills > h1 {
    font-size: 4em;
    color: #FFA500;
    
}

#Education .education,#skills .skillset  {
    font-size: 1.3em;
    font-style: italic;
}
#Education > a > img, #Education > #education-container > #school_logo >a > img  {
    width: 200px;
    height: auto;
    transition: transform 0.2s;
}
#Education > #education-container > #school_logo >a > img {
    width: 120px; 
}
#Education > a:hover > img,#Education > #education-container > #school_logo >a:hover > img  {
    transform: scale(1.1);
}

#skills > img {
    width: 200px;
    height: auto;
}

#Project {

    align-items: center;
}

#Project > img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#Project .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.project {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s;
}

.project:hover {
    transform: translateY(-5px);
}

.project h2 {
    margin-top: 0;
    color: #fff;
}

.project p {
    color: #ccc;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.project-link:hover {
    background-color: #0056b3;
}

#contact {
    text-align: center;
    font-size: 2em;
    color: #FFA500;
}

#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    /* background-color: #333; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact {
    text-align: center;
    /* margin: 20px 0; */
}

.contact h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact h3 {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 5px;
}
