/* =========================
   Global Styles
========================= */
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}


/* =========================
   Responsive Styles
========================= */

@media (max-width: 600px) {
  .projects-section,
  .skill-progress-section,
  .contact-section,
  .experience-section {
    padding: 2vw 0;
    min-height: unset;
  }
  .project-tile-content {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .contact-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .experience-title {
    font-size: 1.2rem;
  }
}